*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #191c22;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: #788392;
  display: flex;
  align-items: center;
  margin: 10px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222630;
  padding: 10px;
}

.nav input {
  margin: 15px;
  background-color: #191c22;
}

.nav-links a {
  text-decoration: none;
  color: white;
  margin: 10px;
  text-transform: uppercase;
}

.fullscreen {
  height: 60vh;
  background-image: linear-gradient(#02265e, #033845);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fullscreen h1 {
  text-align: center;
}

.fullscreen input {
  padding: 10px;
  width: 600px;
}
.space img {
  margin: 10px;
}
img:hover {
  cursor: pointer;
}

.trendings, .features {
  margin: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: yellow;
  font-size: 20px;
}

.topics {
  display: flex;
  justify-content: center;
}

.topics button {
  margin: 10px;
  background-color: #3b4151;
  color: white;
  border: none;
}
.features-wallpapers {
  display: flex;
}

.features-wallpapers img {
  flex: 1;
  margin: 10px;
  width: 200px;
}

.three-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img {
  width: 100px;
  border-radius: 50%;
}

.card {
  display: flex;
  align-items: center;
  background-color: #222630;
  margin: 10px;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.content h2 {
  margin: 0;
}
.content p {
  margin: 0;
}
.create button {
  background-color: #3a4152;
  color: white;
  border: none;
  padding: 10px;
}

.card-container {
  display: flex;
}

.card-users {
  flex: 1;
  width: 200px;
  margin: 10px;
  text-align: center;
  background-color: #222630;
}

.card-users img {
  border-radius: 50%;
  width: 100px;
  display: block;
  margin: auto;
  height: 100px;
  padding-top: 10px;
}

.card-container p {
  color: #3a4152;
}

.three-grid p {
  color: #3a4152;
}

.menu img {
  display: none;
}

.container {
  display: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {


  .features-wallpapers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .features-wallpapers img {
    width: 100px;
  }

  .topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .three-grid {
    display: block;
    margin: auto;
  }

  .card {
    display: block;
    margin: auto;
    margin: 10px;
  }

  .logo h1 {
    font-size: 15px;
  }

  .nav-links,
  .create {
    display: none;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .fullscreen input {
    width: 100%;
  }

  .fullscreen {
    padding: 20px;
  }




  .container {
    background-color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    border-radius: 10px;
  }

  .container ul li {
    list-style-type: none;
    text-align: center;
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  .container a {
    text-decoration: none;
    color: black;
  }
}
